._2S_MWl1fCBQ1UmxokijNx9._1yUPCZO2A2J60V-rkrWHA8 {
    padding-top: 64px;
    padding-bottom: 64px;
}

._3j6eRkL2E8VbnIHwXDxcna {
    background: #a5dfca;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RJ9AUqfifeGIrKE9N7Y-I {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

._2S_MWl1fCBQ1UmxokijNx9._3n63Y2i4jLRzEeCfYqwT_U {
    margin-bottom: 24px;
}

._3Q9qlbuGoKl-V5hsBl8kTS {
    font-weight: 800;
    font-size: 64px;
    line-height: 110%;
}

.U2fLB7rVVldEnYc2UBHgW {
    position: relative;
}

.U2fLB7rVVldEnYc2UBHgW ._2aExLWZu5SRFHmo5isCvoC {
    position: relative;
    z-index: 1;
}

.U2fLB7rVVldEnYc2UBHgW._3eerw-94YgY95GhtxSoux0 .QypgFBYhh1uMDyXIF8L4A {
    background: #fff;
}

.U2fLB7rVVldEnYc2UBHgW .QypgFBYhh1uMDyXIF8L4A {
    position: absolute;
    top: 0.85em;
    bottom: 0.15em;
    left: -3%;
    right: -3%;
}

._22nxv1rrKHS6omI_WWabx0 {
    max-width: 625px;
}

.CzZmJ6hN7S9obBfKd0_ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

._1FcBEpryJUwkWErcHrlXR_ {
    padding-left: 24px;
    padding-right: 24px;
}

._2S_MWl1fCBQ1UmxokijNx9.T_YmFjtNnTLaOXdnGbAc6 {
    padding-top: 16px;
    padding-bottom: 16px;
}

._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
    cursor: pointer;
}

._1KuwLAoPdKfZcEwaYZowQ- {
    margin-top: -4px;
}

._1JpqDpdb11OTIEYgAz8Vw6 {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 800;
    background: #1d1d28;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

._34-3Nh03XmI8WUlDtsDla1 {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 950px;
}
