@media only screen and (min-width: 1000px) {
    ._3-JMef1dtqqrZ_nQJ7nkQo {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      background-color: #c4dffd;
    }
  
    ._2lptbvjkyjtC_m8fNEAFQk {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 32px 7vw;
      width: 50vw;
    }
  
    ._2S_MWl1fCBQ1UmxokijNx9.MceIDuOp_oE7i7G45nnUy {
      margin-bottom: 32px;
    }
  
    ._3Q9qlbuGoKl-V5hsBl8kTS {
      font-weight: 800;
      font-size: 64px;
      line-height: 110%;
    }
  
    .U2fLB7rVVldEnYc2UBHgW ._2aExLWZu5SRFHmo5isCvoC {
      position: relative;
      z-index: 1;
    }
  
    .U2fLB7rVVldEnYc2UBHgW._2dqn9PHs6g_dl32HtphgHZ .QypgFBYhh1uMDyXIF8L4A {
      background: #c4dffd;
    }
  
    .uLqrT6O7HuazamXj_oy6s._1K954f7VHrpJcxUTNi_9yh {
      display: inline-block;
      height: 0.7em;
      width: auto;
      vertical-align: middle;
      fill: currentColor;
      position: relative;
      z-index: 1;
    }
  
    ._38OcQHNQQ3p6RU9v1pX4zQ {
      display: flex;
      align-items: center;
      border-radius: 100px;
      border: 1px solid #1d1d28;
      box-shadow: 3px 3px 0px #1d1d28;
      background-color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
    }
  
    ._2S_MWl1fCBQ1UmxokijNx9._262-VJ3cK4lUaCpWy5VcZW {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    ._38OcQHNQQ3p6RU9v1pX4zQ .eJZk0z-fqyyoq2j50S9_b svg {
      width: 20px;
      height: auto;
    }
  
    ._38OcQHNQQ3p6RU9v1pX4zQ ._15p5Qloh_CCP_o9FbrBMaN {
      margin-right: 2px;
    }
  
    ._38OcQHNQQ3p6RU9v1pX4zQ ._3-kw0PniaqcQWJdWtRDl3z {
      background: transparent;
      border-radius: 0;
      flex: 1;
      margin: 0;
      padding: 0;
      cursor: inherit;
      border: none;
      appearance: none;
      font: inherit;
    }
  
    ._38OcQHNQQ3p6RU9v1pX4zQ ._2xrBtwVFVCVMI0ZOVNTOA2 {
      white-space: nowrap;
    }
  
    ._2S_MWl1fCBQ1UmxokijNx9._1FcBEpryJUwkWErcHrlXR_ {
      padding-left: 24px;
      padding-right: 24px;
    }
  
    ._2S_MWl1fCBQ1UmxokijNx9.T_YmFjtNnTLaOXdnGbAc6 {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  
    ._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
      cursor: pointer;
    }
  
    ._1JpqDpdb11OTIEYgAz8Vw6 {
      cursor: pointer;
      border-radius: 100px;
      font-weight: 800;
      background: #1d1d28;
      color: #fff;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
      font-size: 16px;
      line-height: 100%;
      padding-left: 24px;
      padding-right: 24px;
    }
  
    ._1WFKJ0r569ExTtB8FuHlgk {
      position: relative;
      overflow: hidden;
      min-height: 80vh;
      width: 50vw;
    }
  
    ._1WFKJ0r569ExTtB8FuHlgk img {
      height: 110%;
      position: absolute;
      right: 0;
      bottom: -20%;
    }
  }
  