@media only screen and (min-width: 1000px) {
    .Z2OK9llMn144Wq7xvEH5f,
    ._3fF1P4yRK3j07E2gchIjX- {
      display: flex;
      border-bottom: 1px solid #1d1d28;
    }
  
    ._3fF1P4yRK3j07E2gchIjX- ._3nCpy0QGyLbfi3W1WOGqhV {
      border-right: 1px solid #1d1d28;
    }
  
    ._3nCpy0QGyLbfi3W1WOGqhV {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 32px 7vw;
    }
  
    ._3nCpy0QGyLbfi3W1WOGqhV .WhNixIsQGHBLrFZr6SOpg {
      max-width: 500px;
    }
  
    ._3n63Y2i4jLRzEeCfYqwT_U {
      margin-bottom: 24px;
    }
  
    ._3Q9qlbuGoKl-V5hsBl8kTS {
      font-weight: 800;
      font-size: 64px;
      line-height: 110%;
    }
  
    .uLqrT6O7HuazamXj_oy6s._1K954f7VHrpJcxUTNi_9yh {
      display: inline-block;
      height: 0.7em;
      width: auto;
      vertical-align: middle;
      fill: currentColor;
      position: relative;
      z-index: 1;
    }
  
    .U2fLB7rVVldEnYc2UBHgW {
      position: relative;
    }
  
    .CzZmJ6hN7S9obBfKd0_ul {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
    }
  
    ._1FcBEpryJUwkWErcHrlXR_ {
      padding-left: 24px;
      padding-right: 24px;
    }
  
    .T_YmFjtNnTLaOXdnGbAc6 {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  
    ._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
      cursor: pointer;
    }
  
    ._1JpqDpdb11OTIEYgAz8Vw6 {
      cursor: pointer;
      border-radius: 100px;
      font-weight: 800;
      background: #1d1d28;
      color: #fff;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
    }
  }
    