

._2S_MWl1fCBQ1UmxokijNx9._2WcWOwLyoTecW9jxTz5owR {
    padding-top: 32px;
    padding-bottom: 32px;
}
._206Nb-6AljXyz4JWL0YA9Y {
    background-color: #fed6b3;
    border-top: 1px solid #1d1d28;
    border-bottom: 1px solid #1d1d28;
}

.marquee-container {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
}

.marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll 172.275s linear 0s infinite;
    animation-play-state:  running;
    animation-delay: 0s;
    animation-direction: normal;
}

._2hdtn3bFQJrlB7Q3Fl1nVC {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
}

._2S_MWl1fCBQ1UmxokijNx9._3tMbe2UiQRzWO6eN46889G {
    padding-left: 32px;
    padding-right: 32px;
}

._3qxHXTBKem-gUhmwcEFz8c {
    width: 48px;
    height: auto;
}
