@media only screen and (min-width: 1000px) {
    ._2rF9AXIokPv-cT5o-_EVm3 {
        display: flex;
        overflow-x: auto;
        align-items: center;
        height: 90vh;
        position: relative;
        padding-left: 7vw;
        padding-right: 7vw;
        border-bottom: 1px solid #1d1d28;
    }
    .CkRhNQ3dpd8kLmj3iVYR7 {
        min-width: 350px;
    }
    ._2S_MWl1fCBQ1UmxokijNx9.MceIDuOp_oE7i7G45nnUy {
        margin-bottom: 32px;
    }
    ._3Q9qlbuGoKl-V5hsBl8kTS {
        font-weight: 800;
        font-size: 64px;
        line-height: 110%;
    }
    .U2fLB7rVVldEnYc2UBHgW {
        position: relative;
    }
    .U2fLB7rVVldEnYc2UBHgW ._2aExLWZu5SRFHmo5isCvoC {
        position: relative;
        z-index: 1;
    }
    .U2fLB7rVVldEnYc2UBHgW._2sVJ66n9zKFQCRzWtDduyB .QypgFBYhh1uMDyXIF8L4A {
        background: #ffec9d;
    }
    .U2fLB7rVVldEnYc2UBHgW .QypgFBYhh1uMDyXIF8L4A {
        position: absolute;
        top: 0.85em;
        bottom: 0.15em;
        left: -3%;
        right: -3%;
    }
    .uLqrT6O7HuazamXj_oy6s._1K954f7VHrpJcxUTNi_9yh {
        display: inline-block;
        height: 0.7em;
        width: auto;
        vertical-align: middle;
        fill: currentColor;
        position: relative;
        z-index: 1;
    }
    ._2S_MWl1fCBQ1UmxokijNx9.MceIDuOp_oE7i7G45nnUy {
        margin-bottom: 32px;
    }
    .CzZmJ6hN7S9obBfKd0_ul {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }
    ._2S_MWl1fCBQ1UmxokijNx9._1FcBEpryJUwkWErcHrlXR_ {
        padding-left: 24px;
        padding-right: 24px;
    }
    ._2S_MWl1fCBQ1UmxokijNx9.T_YmFjtNnTLaOXdnGbAc6 {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    ._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
        cursor: pointer;
    }
    ._1JpqDpdb11OTIEYgAz8Vw6 {
        cursor: pointer;
        border-radius: 100px;
        font-weight: 800;
        background: #1d1d28;
        color: #fff;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }
    ._1JpqDpdb11OTIEYgAz8Vw6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
    }
    .DsIbzPXeoFnCGKRrlowWP {
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
    }
    ._2VY36CjQQRBA0WOlh6lcfG {
        height: 90%;
        width: auto;
        cursor: pointer;
    }
}
